.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
.idea/workspace.xml
.idea/misc.xml
.idea/libraries/*

# Gradle:
.idea/gradle.xml
.idea/libraries
*.java
*.log
.idea/libraries/Gradle__xalan_xalan_2_7_2.xml
